<%! from django.core.urlresolvers import reverse %>
<!-- dummy segment.io -->
<script type="text/javascript">
  (function(){
    var methods = ["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"];

    var analytics = function() {
      var analyticsObj = {
        'method': arguments[0],
        'key': arguments[1],
        'content': arguments[2],
        'url': document.URL,
        'clientTimestamp': (new Date()).getTime()
      };

      % if user.is_authenticated():
        analyticsObj.username = ${user.username};
        analyticsObj.userid = ${user.id};
      % endif

      var analyticsString = JSON.stringify(analyticsObj);

      var request = new XMLHttpRequest();
      request.onload = function(evt) {
        if (~~(request.status/100) !== 2) {
          console.error('Analytics Error: ', request.status);
        }
      };
      request.open('POST', '/analytics/', true);
      request.setRequestHeader('Content-Type', 'application/json');
      request.send(JSON.stringify({'analytics': analyticsString}));
    }
    methods.forEach(function(method) {
      analytics[method] = analytics.bind(analytics, method);
    });

    window['analytics'] = analytics;

    % if user.is_authenticated():
      analytics.identify("${user.id}", {
        email: "${user.email}",
        username: "${user.username}"
      });
    % endif

    // Get current page URL
    var url = window.location.href
    // Match on the current url and fire the appropriate pageview event
    if (url.indexOf("/register") > -1) {
      // Registration page viewed
      analytics.track("edx.bi.page.register.viewed", {
        category: "pageview",
        noninteraction: 1
      });
    } else if (url.indexOf("/login") > -1) {
      // Login page viewed
      analytics.track("edx.bi.page.login.viewed", {
        category: "pageview",
        noninteraction: 1
      });
    } else if (url.indexOf("/dashboard") > -1) {
      // Dashboard viewed
      analytics.track("edx.bi.page.dashboard.viewed", {
        category: "pageview",
        noninteraction: 1
      });
    } else {
      // This event serves as a catch-all, firing when any other page is viewed
      analytics.track("edx.bi.page.other.viewed", {
        category: "pageview",
        url: location.host + location.pathname + location.search,
        noninteraction: 1
      });
    }
  })()
  
</script>
<!-- end dummy segment.io -->
