/****************************************************************************************************
*   Stanford Theming File
*
*   Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/

//-----------------
//  Color variables (from Stanford palette unless noted)
//-----------------

//#b6003a, #90002e
//@include gradient-tb(#97002d, #7b0027);

//Main Color Variables
$main-color: #f7691f;
$dark-color: #ac0034; //Link Color
$light-color: #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
$main-bg: #99747c;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%); 

//Secondary Color Variables
$secondary: #b5a4b7;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #3f3f3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #fbfbfb; //Main BG Color
$white: $gray-1;

$black: #2e2e2e;
$black-80: #585858;



//-----------------
//  Font Assignment
//-----------------

//$body-font-family: $sans-serif;

//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: transparentize(lighten($secondary, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: $secondary-25;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;

$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-color;
$header-link-hover: $light-color;

$button-color: $main-color;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/mystu/images/sunrise.jpg');

$login-banner-image: none;
$register-banner-image: none;

$video-thumb-url: '../themes/mystu/images/edx.png';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
  clip: auto !important;
  height: 50px;
  width: 550px;
  top: 0;
}

@mixin footer_references_style {
  margin: 0 !important;
  text-align: right;
}

@mixin imgset($file, $type) {
  background-image: url($file + '.' + $type);
  background-image: -webkit-image-set( url($file+'.'+$type) 1x, url($file+'@2x.'+$type) 2x);
  background-image: -moz-image-set( url($file+'.'+$type) 1x, url($file+'@2x.'+$type) 2x);
}

@mixin gradient-tb($from, $to) {
  background-color: $from; /* Old browsers */
  background-image: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, $from 0%,$to 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, $from 0%,$to 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, $from 0%,$to 100%); /* W3C */
}

@mixin rotate($deg) {
  transform: rotate($deg);
  -ms-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
}

@mixin transition($settings...) {
  transition: $settings;
  -ms-transition: $settings;
  -moz-transition: $settings;
  -webkit-transition: $settings;
  -o-transition: $settings;
}

//-----------------
//  MYSTU Styles
//-----------------
$activeColor: #ac0034;


input, select, textarea, button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

ul, li, p, h1, h2, h3{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #666;
  &:hover {
    color: #999;
  }
}

button, .btn, .select, input, .input, textarea {
  display: inline-block;
  height: 33px;
  margin: 0;
  padding: 0 .5em;
  background-color: #fff;
  border: 1px #ccc solid;
  border-radius: 3px;
  font-size: .98em;
  color: #666;
  // text-shadow: 0 1px rgba(255,255,255,.8);
  line-height: 29px;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: middle;
}

::-moz-focus-inner {
  padding: 0;
  border: 0
}

button, .btn {
  @include gradient-tb(#fff, #d2d2d2);
  text-shadow: 0 1px rgba(255,255,255,.8);
  font-weight: 600;
  // transition-property: background, color;
  // transition-duration: .1s;
  &:hover {
    border-color: #990030;
    @include gradient-tb(#b6003a, #90002e);
    color: #fff;
    text-shadow: none;
    // box-shadow: inset 0 6px 20px rgba(255,255,255,.8);
  }
  &:active {
    // @include gradient-tb(#d2d2d2, #fff);
    box-shadow: inset 0 5px 20px rgba(0,0,0,.4);
  }
  &.square {
    width: 33px;
    padding: 0 8px;
    &:before {
      font-family: FontAwesome;
    }
  }
}

input[type="text"], input[type="password"], textarea {
  height: 33px;
  // width: 100%;
  padding: 3px .5em;
  line-height: 21px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
  &:focus {
    border-color: $activeColor;
    box-shadow: inset 0 1px 2px fade(mix($activeColor, #000000), 30%);
  }
}

textarea {
  padding: 6px .5em;
  height: (6*2+1*2+18*5px);
  line-height: 18px;
  resize: vertical;
}

.input input, input.transparent {
  box-shadow: none;
  padding: 0;
  border: 0;
  background: transparent;
  &:focus {
    box-shadow: none;
    background: none;
    border: none;
  }
}

.input {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
  &.FOCUS {
    border-color: $activeColor;
    box-shadow: inset 0 1px 2px fade(mix($activeColor, #000000), 30%);
  }
  input, button, .btn {
    width: 20px;
    margin-top: 2px;
    height: 27px;
  }
  button, .btn {
    margin-top: -1px;
    height: 23px;
    border-radius: 2px;
    line-height: 21px;
    font-size: .9em;
  }
}

.controls {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  &[data-title] {
    &::before {
      display: inline-block;
      width: 120px;
      padding-top: 5px;
      vertical-align: top;
      color: #666;
      content: attr(data-title);
    }
  }
  button, .btn, .select, input, .input, .label {
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
  }
}

[id^=mystu-] {
  iframe, .HIDE {
    display: none !important;
  }

  .ACTIVE {
    background-color: fade(#e7faff, 50%);
  }

  .ERROR {
    border-color: red !important;
    background-color:  fade(red, 10%) !important;
  }

  .select, .dropmaker {
    position: relative;
    padding-right: 2em;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      &::before {
        display: block;
        content: attr(data-placeholder);
        color: #999;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &[data-text]::before {
        content: attr(data-text);
        color: #666;
      }
      &::after {
        position: absolute;
        right: .5em;
        top: 50%;
        margin-top: -3px;
        content: "";
        border: 4px transparent solid;
        border-top: 5px #8E022D solid;
      }
      select {
        display: none;
      }
    }

    .menu {
      & > ul, [class|="menu"] {
        // display: none;
        position: absolute;
        margin: 0;
        padding: 4px 10px;
        background-color: #333;
        border: 1px #000 solid;
        border-radius: 3px;
        box-shadow: 0 4px 8px rgba(0,0,0,.6);
        z-index: 10;
        &::before, &::after {
          display: block;
          position: absolute;
          top: -12px;
          content: "";
          border: 5px transparent solid;
          border-bottom: 7px #000 solid;
        }
        &::after {
          top: -10px;
          border-width: 4px;
          border-bottom: 6px #333 solid;
        }
        & > li, .menu-item {
          list-style: none;
          margin: 0;
          padding: 0;
          border-bottom: 1px #666 dotted;
          font-size: 0.92em;
          line-height: (113-85-2px);
          cursor: pointer;
          color: #ccc;
          white-space: nowrap;
          &:hover {
            color: #fff;
          }
          &:last-child {
            border-bottom: none;
          }
          a {
            color: #ccc;
            // font-weight: 300;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      &.white {
        & > ul, [class|="menu"] {
          background-color: #fff;
          // border-color: #ccc;
          border: none;
          box-shadow: 0 2px 8px rgba(0,0,0,.4);
          &::before {
            // border-bottom-color: #ccc;
            display: none;
          }
          &:after {
            border-bottom-color: #fff;
          }
          & > li, .menu-item {
            border-bottom-color: #ccc;
            color: #666;
            &:hover {
              color: #333;
            }
            a {
              color: #666;
              // font-weight: 300;
              &:hover {
                color: #333;
              }
            }
          }
        }
      }
    }

    .cwrap {
      position: relative;
      max-width: 1180px;
      min-width: 960px;
      margin: 0 auto;
    }

    .avatar {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #e8e8e8;
      border-radius: 5px;
      vertical-align: top;
      text-align: center;
    }

    span.actions {
      float: right;
      &> span {
        position: relative;
        margin-left: 5px;
        font-size: 1em;
        font-weight: 400;
        color: #999;
        i {
          cursor: pointer;
          font-size: 1.25em;
        }
        &:hover {
          color: #C13F67;
          &::after {
            display: block;
            position: absolute;
            right: 0;
            top: 12px;
            font-size:.8em;
            content: attr(data-title);
            min-width: 40px;
            text-align: right;
            white-space: nowrap;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
      }
    }
  }

  .lightbox_wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.5);
    display: none;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    #scrollprotector {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      z-index: 50;
    //background-color: green;
  }
}

#lightbox {
  // box-sizing: border-box;
  // max-width: 600px;
  padding: 20px 30px;
  margin: 50px auto;
  background-color: #fff;
  // border: 1px #ccc solid;
  box-shadow: 0 3px 10px rgba(0,0,0,.4);
  &.NOPADDING {
    padding: 0;
  }
}

body.LIGHTBOX {
  overflow: hidden;
  .lightbox_wrapper {
    display: block;
  }
}


span.dropmaker {
  &::after {
    display: block;
    content: "";
    border: 4px transparent solid;
    border-top: 5px #c00 solid;
  }
}

#mystu-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  @include gradient-tb(#97002d, #7b0027);
  border-bottom: 1px #a40132 solid;
  font-size: 12px;
  ul.nav {
    height: 54px;
  }
  li.item {
    vertical-align: top;
    list-style: none;
    display: inline-block;
    &.dropmaker {
      cursor: pointer;
    }
    &.dropmaker::after {
      right: 0;
      border-top-color: #c00;
    }
    &.dropmaker:hover::after {
      border-top-color: lighten(#c00, 10%);
    }
  }
  li.logo {
    width: 100px;
    height: 54px;
    padding: 0;
    margin-right: 20px;
    background: left center no-repeat;
    @include imgset('../themes/mystu/images/logo', 'png');
  }
  li.quicklinks {
    width: 340px;
    padding: 9px 0;
    margin-right: 20px;
    div {
      position: relative;
      display: inline-block;
      margin-right: 14px;
      vertical-align: middle;
      width: 36px;
      height: 36px;
      background: #333;
      text-align: center;
      border-radius: 50% 50% 0 50%;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    }
    div > a {
      display: inline-block;
      width: 36px;
      height: 36px;
      text-decoration: none;
      font-weight: 700;
      color: white;
      i {
        display: inline-block;
        text-align: center;
        line-height: 36px;
        width: 36px;
        font-size: 22px;
      }
      &:hover {
        color: #ccc;
      }
    }
    div.notifi > a span {
      position: absolute;
      left: 6px;
      right: 6px;
      top: 12px;
      height: 13px;
      line-height: 13px;
      color: #333;
    }
    div.calendar > a {
      font-size: 10px;
      line-height: 12px;
      text-align: center !important;
      span {
        color: white;
        position: absolute;
        left: 6px;
        right: 6px;
        height: 13px;
      }
      span.mo {
        top: 5px;
        line-height: 12px;
        border-bottom: 1px #fff solid;
        font-weight: 400;
      }
      span.day {
        top: 20px;
        line-height: 12px;
      }
      &:hover span {
        color: #ccc;
        border-color: #ccc;
      }
    }
  }
  li.search {
    width: 330px;
    padding: 11px 0;
    margin-right: 60px;
    .input {
      width: 100%;
      background: #4C0018;
      height: 32px;
      padding: 6px 8px 6px 12px;
      border-radius: 3px;
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.45), 0 1px 0 rgba(164,0,48,0.75);
      border: none;
      line-height: inherit;
    }
    .input > span {
      display: inline-block;
      height: 20px;
      width: 280px;
      line-height: 20px;
            //color: #fff;
            &::-webkit-input-placeholder {
              color: #ccc;
            }
            &::-moz-placeholder {
              color: #ccc;
            }
            input {
              min-width: 100px;
              color: #fff;
            }
          }
          i {
            float: right;
            font-size: 18px;
            color: #91022d;
            text-shadow: 0 -1px 0 #000;
            // padding-top: 1px;
          }
        }
        li.user {
          float: right;
        //-position: relative;
        height: 40px;
        width: 60px;
        padding: 7px 0;
        .avatar {
          display: inline-block;
          border-radius: 5px;
          background-color: #fff;
          background-size: 40px;
          width: 40px;
          height: 40px;
        }
      } 
      .menu-quicknav {
        top: 55px;
        left: 20px;
        width: 33em;
        &::before, &::after {
          left: 69.5px;
        }
        &::after {
          left: 70.5px;
        }
        ul {
          vertical-align: top;
          display: inline-block;
          padding: 0.5em;
          width: 10em;
          color: #999;
          span {
            white-space: nowrap;
            font-size: 1em;
            line-height: 47px;
          }
        }
        li {
          list-style: none;
          padding-right: 1em;
          &::before {
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            content: "\f101";
            padding-right: 0.5em;
          }
        }
        a {
          color: #ccc;
        }
        a:hover {
          color: #fff;
        }
      }

      .menu-user {
        top: 55px;
        right: 0;
        &::before {
          right: 34px;
        }
        &::after {
          right: 35px;
        }
      }

      .menu-notifi {
        top: 46px;
        width: 24em;
        left: -20px;
        &::before {
          left: 35px;
        }

        &::after {
          left: 36px;
        }
      }

      .menu-notifi li {
        white-space: normal;
        text-align: left;
        a {
          color: #999;
          text-transform: uppercase;
        }
        a:hover {
          color: #ccc;
        }
        span {
          float: right;
          color: #fff;
          font-weight: 600;
          line-height: 27px;
        }
        &:first-child {
          margin-top: -3px;
        }
        &:last-child {
          margin-bottom: -3px;
        }
        &.footer {
          text-align: center;
        }
      }

    }

    .clear, #wrapper {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        clear:both;
      }
    }

    #mystu-spacer {
      display: block;
      position: relative;
      left: 0;
      right: 0;
      height: 56px;
    }

    #wrapper {
      margin-top: -32px;
      min-height: 532px;
    }

    #subnav {
      height: 32px;
      .tab {
        display: inline-block;
        margin-right: 3px;
        height: 31px;
    //width: 133px;
    padding: 0 1.8em;
    list-style: none;
    vertical-align: bottom;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    background-color: #ddd;
    // border-top: 1px #9c918d solid;
    box-shadow: inset 0 1px 0 #9c918d;
    line-height: 34px;
    text-align: center;
    font-weight: 600;
    color: #666;
    cursor: pointer;
    &.cur {
      margin-top: 0px;
      height: 32px;
      line-height: 35px;
      box-shadow: inset 0 2px 0 #a92851;
      background-color: #fff;
      color: #ac0034;
      cursor: auto;
    }
    &.hot {
      box-shadow: inset 0 1px 0 #1d1d1d;
      background-color: #484848;
      color: #ccc;
      span {
        color: #fff;
      }
      &:hover {
        color: #fff;
      }
    }
    &:hover {
      color: #ac0034;
    }
    span {
      padding-left: 0.6em;
      text-decoration: underline;
      &::before{
        content:'(';
      }
      &::after{
        content:')';
      }
    }
  }
}

#sidebar {
  float: right;
  margin-top: 40px;
  width: 220px;
  min-height: 500px;
  // background: #ccc;
  h1 {
    font-size: 1.5em;
    font-weight: 300;
    color: #666;
    line-height: 22px;
  }
  h2 {
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ccc;
  }
}

#main {
  margin-right: (220+140px);
  margin-top: 40px;
  min-height: 500px;
  font-size: 14px;
  // background: #ccc;
  h1 {
    margin-bottom: 24px;
    font-size: 3em;
    font-weight: 300;
    color: #666;
    line-height: 1.2em;
  }
  h2 {
    margin-bottom: 16px;
    font-size: 1.4em;
    font-weight: 300;
    text-transform: uppercase;
    color: #666;
  }
  p {
    color: #666;
    line-height: 18px;
  }
}

#mystu-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: #fff;
  border-top: 1px #ccc solid;
  font-size: 12px;
  line-height: 32px;
  color: #666;
  ul {
    list-style: none;
    text-align: right;
  }
  li {
    display: inline-block;
    padding-left: 16px;
  }
  a {
    font-weight: 100;
    color: #666;
  }
}

#mystu-helper {
  position: fixed;
  left: 0;
  top: 50%;
  z-inde: 100;
  .help-button {
    position: absolute;
    display: block;
    left: -20px;
    top: -18px;
    width: 72px;
    height: 36px;
    padding: 0;
    @include rotate(-90deg);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #ccc;
    border-top-style: none;
    border-radius: 0 0 10px 10px;
    color: rgba(51, 51, 51, 0.75);
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    display: block;
    &:hover {
      background-color: $activeColor;
      color: #fff;
    }
    @include transition(all .5s ease-in-out);
  }
}