## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

## START OF MYSTU FOOTER
<div id="mystu-footer">
  <ul class="cwrap">
    <li><a href="https://my.stu.edu.cn/aboutus.html">About Us</a></li>
    <li><a href="https://my.stu.edu.cn/guide/">Help &amp; FAQ</a></li>
    <li><a href="mailto:help@stu.edu.cn">Contact Us</a></li>
    <li>Copyright &copy; <a href="http://www.stu.edu.cn/">STU</a> 2014. All Rights Reserved.</li>
  </ul>
</div>
## END OF MYSTU FOOTER

## START OF MYSTU HELPER
<div id="mystu-helper">
  <div class="button-wrapper"><a class="help-button" data-type="help">Help</a></div>
  <div class="frame">
    <div class="title">MYSTU Help</div>
    <div class="text"><p>Should you have any problem in using MYSTU,</p><p> please contact us via email or phone</p><p>Tel: (0754) 8650 3551 (08:00-22:00) OR</p><p>Tel: (0754) 8650 3400 press 3 (08:00-17:30)</p><p>email: help@stu.edu.cn</p></div>
    <div class="help-buttons" id="help-buttons" style="display: block;">
      <a href="https://my.stu.edu.cn/guide/" target="_blank">Comment OR Suggestions</a>
      <a href="https://res.stu.edu.cn/video/default.html#" target="_blank">MYSTU Introduction video</a>
      <a href="https://res.stu.edu.cn/video/slide.html#" target="_blank">MYSTU Introduction slide</a>
      <a href="https://res.stu.edu.cn/docs/MYSTU_User_Manual_v1.doc" target="_blank">MYSTU &amp; Moodle Manual</a>
      <a href="https://res.stu.edu.cn/docs/User manual_IRS_V2_Ch.pdf" target="_blank">IRS User Manual</a>
      <a href="javascript:alert('Coming soon...');">On line course User Manual</a>
    </div>
  </div>
</div>
## END OF MYSTU HELPER
