## mako
<%! 
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>

## START OF MYSTU FOOTER
<div id="mystu-footer">
  <ul class="cwrap">
    <li><a href="https://my.stu.edu.cn/aboutus.html">About Us</a></li>
    <li><a href="https://my.stu.edu.cn/guide/">Help &amp; FAQ</a></li>
    <li><a href="mailto:help@stu.edu.cn">Contact Us</a></li>
    <li>Copyright &copy; <a href="http://www.stu.edu.cn/">STU</a> 2014. All Rights Reserved.</li>
  </ul>
</div>
## END OF MYSTU FOOTER

## START OF MYSTU HELPER
<div id="mystu-helper">
  <a class="help-button">Help</a>
</div>
## END OF MYSTU HELPER